@model CinemaWorld.Web.ViewModels.Movie.DetailsMovieViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" />
        </div>
        <div class="col-md-6">
            <b>Genres: </b>
            @for (int i = 0; i < Model.Genres.Count; i++)
            {
                @Html.DisplayFor(m => m.Genres.ElementAt(i).Name)

                if (i != Model.Genres.Count - 1)
                {
                    @:,
                }
            }
            <br />
            @Html.LabelFor(m => m.Year) : @Html.DisplayFor(m => m.Year)
            <br />
            @Html.LabelFor(m => m.Country) : @Html.DisplayFor(m => m.Country)
            <br />
            @Html.LabelFor(m => m.Duration) : @Html.DisplayFor(m => m.Duration) minutes
            <br />
            @Html.LabelFor(m => m.Director) : @Html.DisplayFor(m => m.Director)
            <br />
            @Html.LabelFor(m => m.Category) : @Html.DisplayFor(m => m.Category)
            <br />
            @Html.LabelFor(m => m.Description) : @Html.DisplayFor(m => m.Description)
        </div>
    </div>
</div>